@charset "utf-8";

*, *::before, *::after{
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

main{
  max-width: 1000px;
  width: 100%;
  height: 200vh;
  background-color: #eee;
  margin: 50px auto;
  padding: 20px;
  font-size: 30px;
}
.menuButton{
  display: block;
  height: 200px;
  width: 200px;
  position: fixed;
  top: 0;
  right: 0;
  transition: 0.3s;
}

.menuButton div{
  height: 1px;
  width: 60%;
  background: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: 0.3s;
}

.menuButton div:nth-of-type(1){
  transform: translate(-50%,-50px);
}

.menuButton div:nth-of-type(3){
  transform: translate(-50%,50px);
}
/*ここで全体を回転させる*/
.menuButton.active{
  transform: rotate(-180deg);

}
/*
transform: rotate(45deg);で角度を線の右端を軸に45度回転する
transform-origin: 0% 50%;でX軸を上から０％右から50％を軸にする
*/

.menuButton.active div:nth-of-type(1){
  transform: rotate(45deg) translate(-50%,0);
  transform-origin: 0% 50%;
}

.menuButton.active div:nth-of-type(2){
  opacity: 0;
  width: 100px;
  height: 100px;
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: 50%;
}

.menuButton.active div:nth-of-type(3){
  transform: rotate(-45deg) translate(-50%,0);
  transform-origin: 0% 50%;
}

nav{
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

nav.active{
  opacity: 1;
  visibility: visible;
}